<!DOCTYPE html>
<html>
    <head>
        <title>Comunicado Sinpaptep-RS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #corpo{
                max-width: 660px;
                text-align: justify;
                border: 1px solid black;
                padding: 10px;
            }
            #corpo h4, #corpo p {
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        <div id="corpo">
            <h4>CONVOCAÇÃO PARA ELEIÇÃO DA DIRETORIA DO SINDICATO</h4>

            <h4>CONVIDAMOS OS TRABALHADORES EM EMPRESAS DE PUBLICIDADE, AGÊNCIAS E MIDIA EXTERNA PARA
            REGISTRAREM CHAPA NO SINDICATO COM A FINALIDADE DE PARTICIPAREM DAS ELEIÇÕES DE 2020/2024.</h4>

            <p>Conforme Estatuto, todos os candidatos deverão ser sócios pelo menos seis meses antes das eleições.</p>

            <p>Data eleição junho/2020</p>

            <p>Eleições sindicais para composição da Diretoria, Conselho Fiscal e Delegados Representantes junto a Federação e Confederação.</p>

            <p>SEDE DO SINDICATO: AV. João Wallig, 518 – Bairro Passo D’Areia – Porto Alegre-RS<br/>
            Informações: (51) 3361-2495<br/>
            www.sindicatopublicitariosrs.com.br<br/>
            Facebook: Sindicato dos Publicitários do RS</p>
        </div>
    </body>
</html>
