<!DOCTYPE html>
<html>
    <head>
        <title>Comunicado Sinpaptep-RS</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            #corpo{
                max-width: 660px;
                text-align: justify;
                border: 1px solid black;
                padding: 10px;
            }
            #corpo h4, #corpo p {
                text-align: center;
            }
        </style>
    </head>
    
    <body>
        <div id="corpo">
            <h4>CONVOCAÇÃO PARA ASSEMBLEIA GERAL EXTRAORDINÁRIA CAMPANHA SALARIAL 2019</h4>

            <h4>UMA CATEGORIA DIVIDIDA E UM SINDICATO FRÁGIL SÓ INTERESSAM AOS PATRÕES</h4>
            
            <h4>NÃO FIQUE OMISSO!</h4>

            <p>Convocamos todos os trabalhadores para comparecer na <b>Assembleia Geral Extraordinária</b> no dia <b>14/03/2019</b> – 
                quinta-feira - 19h00min e 19h30min em segunda chamada.</p>

            <p style="text-align: left;">- Elaboração da pauta de negociação salarial.<br/>
                - Autorização para descontos em folha de pagamento da
                Contribuição Assistencial e reajuste da Contribuição
                Associativa.<br/>
                - Criação de grupo para acompanhar as negociações com
                o Sindicato Patronal.</p>

            <p><b>SOMENTE COM A PARTICIPAÇÃO DE VOCÊS É QUE PODEREMOS DECIDIR A ATITUDE A TOMAR! NOSSA CAMPANHA SALARIAL DEPENDE DE TODOS NÓS!</b></p>

            <p>SEDE DO SINDICATO: AV. João Wallig, 518 – Bairro Passo D’Areia – Porto Alegre-RS<br/>
            Informações: (51) 3361-2495<br/>
            www.sindicatopublicitariosrs.com.br<br/>
            Facebook: Sindicato dos Publicitários do RS</p>
        </div>
    </body>
</html>
