<!DOCTYPE html>
<html>

<head>
    <title>Comunicado Sinpaptep-RS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #corpo {
            max-width: 660px;
            text-align: justify;
            border: 1px solid black;
            padding: 10px;
        }

        #corpo img {
            display: block;
            margin: 0 auto;
        }

        #corpo h4,
        #corpo h2 {
            text-align: center;
        }

        #corpo p {
            text-align: justify;
            text-indent: 30px;
        }

        .red {
            color: red;
        }
    </style>
</head>

<body>
    <div id="corpo">
        <img src="https://sindicatopublicitariosrs.com.br/site/web/images/logo.jpg" width="150" />
        <h4><b>ELEIÇÕES SINDICAIS</b></h4>

        <h4><b>EDITAL DE CONVOCAÇÃO</b></h4>
        <!--h2><b>MÍDIA EXTERNA (PAINÉIS)</b></h2>
        <h4>Assembleia no dia <span style="color: red; font-size: 16px;">26/03 às 18:30</span> horas</h4>
        <h2><b>AGÊNCIAS DE PUBLICIDADE</b></h2>
        <h4>Assembleia no dia <span style="color: red; font-size: 16px;">28/03 às 18:30</span> horas</h4>

        <h4 style="color: red;"><i><b>A ASSEMBLEIA SERÁ PRESENCIAL</b></i></h4>
        <p><i><b>Envie seu e-mail para registrarmos o convite</b></i></p>
        <h4>NÃO FIQUE OMISSO!</h4-->
        <p>Pelo presente EDITAL, faço saber que no dia 16 de julho de 2024, no horário
            das 9h às 17h, na sede desta Entidade, sito na Av. João Wallig, 518, bairro
            Passo D’Areia, município de Porto Alegre, RS serão realizadas eleições para
            composição da Diretoria, Conselho Fiscal e Delegados Representantes do
            Conselho da Federação e Confederação, a qual está filiada esta entidade,
            bem como de suplentes em todos os cargos, ficando aberto o prazo de 10
            (dez) dias para o registro de chapas, que passarão a serem contados a partir
            da data da publicação do aviso resumido deste edital, publicado no “Jornal do
            Comércio”, do dia 17/06/2024, nos termos do previsto nos estatutos desta
            entidade, e no que prevê o art. 17 da Portaria nº 3.437, de 20 de dezembro de
            1974. O requerimento de inscrição de chapa deverá estar acompanhado de
            todos os documentos exigidos para o registro, podendo ser assinado por
            qualquer um dos candidatos componentes da chapa e deverá ser dirigido ao
            Presidente da entidade. A secretaria da entidade funcionará no período
            destinado ao registro das chapas no horário das 9:00 horas às 12:00 horas e
            das 14:00 horas às 17:00 horas, onde se encontrará a disposição dos
            interessados, pessoa habilitada para atendimento, prestação de informações
            concernentes ao processo eleitoral, recebimento de documento e
            fornecimento do correspondente recibo do registro de chapa concorrente. A
            impugnação de candidaturas deverá ser feita num prazo de cinco (05) dias a
            conta da publicação da relação das chapas registradas. Caso não seja obtido
            o quórum em primeira convocação à eleição, em segunda votação, será
            realizada no dia nove (22) de julho de 2024, e não conseguindo quórum na
            segunda convocação à eleição, terceira votação será realizada no dia 29 de
            julho de 2024. Em caso de empate entre as chapas, realizar-se-á nova eleição
            cinco (05) dias após. Em se tratando de chapa única inscrita, será convocada
            Assembleia Geral Extraordinária para fins de eleição por aclamação, nos
            termos do parágrafo 4º do artigo 54 do atual estatuto da entidade.</p>

        <p>Porto Alegre, 17 de junho de 2024.</p>
        </br>
        <h4 style="text-align: right;">MANOEL DA COSTA NETO<br />Presidente da entidade.</h4>
        </br>
        <p style="text-align: center;">SEDE DO SINDICATO: AV. João Wallig, 518 – Bairro Passo D’Areia – Porto
            Alegre-RS<br />
            Informações: (51) 3361-2495<br />
            www.sindicatopublicitariosrs.com.br<br />
            Facebook: Sindicato dos Publicitários do RS</p>
    </div>
</body>

</html>