<!DOCTYPE html>
<html>

<head>
    <title>Comunicado Sinpaptep-RS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #corpo {
            max-width: 660px;
            text-align: justify;
            border: 1px solid black;
            padding: 10px;
        }

        #corpo img {
            display: block;
            margin: 0 auto;
        }

        #corpo h4,
        #corpo h2 {
            text-align: center;
        }

        #corpo p {
            text-align: justify;
            text-indent: 30px;
        }

        .red {
            color: red;
        }
    </style>
</head>

<body>
    <div id="corpo">
        <img src="https://sindicatopublicitariosrs.com.br/site/web/images/logo.jpg" width="150" />
        <h4><b>EDITAL DE CONVOCAÇÃO - ASSEMBLEIA GERAL EXTRAORDINÁRIA</b></h4>

        <!--h4><b>EDITAL DE CONVOCAÇÃO</b></h4>
        <h2><b>MÍDIA EXTERNA (PAINÉIS)</b></h2>
        <h4>Assembleia no dia <span style="color: red; font-size: 16px;">26/03 às 18:30</span> horas</h4>
        <h2><b>AGÊNCIAS DE PUBLICIDADE</b></h2>
        <h4>Assembleia no dia <span style="color: red; font-size: 16px;">28/03 às 18:30</span> horas</h4>

        <h4 style="color: red;"><i><b>A ASSEMBLEIA SERÁ PRESENCIAL</b></i></h4>
        <p><i><b>Envie seu e-mail para registrarmos o convite</b></i></p>
        <h4>NÃO FIQUE OMISSO!</h4-->
        <p>No uso das atribuições que me são conferidas pelo Estatuto desta Entidade e de conformidade com
            a legislação sindical em vigor, convoco os Senhores Associados e demais membros das categorias
            PUBLICITÁRIOS, AGENCIADORES DE PROPAGANDA E TRABALHADORES EM EMPRESAS DE
            PUBLICIDADE DO ESTADO DO RIO GRANDE DO SUL, JUNTO AS EMPRESAS DE PUBLICIDADE
            VISUAL EXTERNA DO ESTADO DO RIO GRANDE DO SUL,para reunirem-se em Assembléia Geral
            Extraordinária ad referendum), a realizarem-se dia <span style="color: red; font-size: 16px;">25
                de abril de 2025</span>, a partir das 18:30h na sede do sindicato sito na Av. João Wallig,
            518, nesta capital, em primeira convocação, e às 19h00min do mesmo dia, em segunda e última
            convocação, com qualquer número de presentes, para o fim especial de deliberar e votar
            aseguinte ORDEM DO DIA:</p>
        <ul>
            <li>1) Revisão das cláusulas da respectiva Convenção Coletivade Trabalho para o exercício de 2025
                (vigência de maio/2025 a abril/2026), junto aos sindicatos patronais representantes das empresas
                de publicidade em geral, tais como empresas de propaganda, publicidade e comunicação, bem como
                empresas de divulgação e promoções de eventos, e demais afins,bem como a forma de proceder em tal
                negociação perante as entidades patronais e/ou diretamente as Empresas.</li>
            <li>2) No caso de ser conveniente a revisão:
                <ul>
                    <li>A) Autorização para ajuizamento de Dissídio Coletivo;</li>
                    <li>B) Fixação das bases de pedido de conciliação;</li>
                    <li>C) Autorização para descontos em folha de pagamento da Contribuição Assistencial e reajuste da
                        Contribuição Associativa em favor do Sindicato;</li>
                    <li>D) Autorização ao Sindicato e seu Presidente para que promova entendimento extra judicial
                        necessário à consecução da revisão aprovada;</li>
                    <li>E) Autorização para o Sindicato atuar como substituto processual dos integrantes da categoria,
                        coletiva ou individualmente, nos termos dos dispositivos constitucionais;</li>
                    <li>F) Outorga de procuração e seus termos para fim de ajuizamento de Dissídio Coletivo Revisional.</li>
                </ul>
            </li>
        </ul>

        <p>Porto Alegre, 17 de abril de 2025.</p>
        </br>
        <h4 style="text-align: right;">MANOEL DA COSTA NETO<br />Presidente da entidade.</h4>
        </br>
        <p style="text-align: center;">SEDE DO SINDICATO: AV. João Wallig, 518 – Bairro Passo D’Areia – Porto
            Alegre-RS<br />
            Informações: (51) 3361-2495<br />
            www.sindicatopublicitariosrs.com.br<br />
            Facebook: Sindicato dos Publicitários do RS</p>
    </div>
</body>

</html>